/.idea
/Daniar - Chrome.lnk
/desktop.ini
/Discord.lnk
/Lab4
/LEXDOR.zip
/Makers
/Microsoft Teams.lnk
/NCALayer.lnk
/Safe Exam Browser.lnk
/SebClientSettings.seb
/TenCent.lnk
/Visual Studio Code.lnk
/word.url
/Zoom.lnk
/Марига ЭЦП 2021 Пароль Аа1234
/恒星播放器.lnk
/我的文件在哪里.lnk